<body>
  <div class="content">


  <div class="Top_Section">
    <table class="center" >
      <tr>
        <th>
          <h1 id="Heading">Covid Project</h1>
          <p>The goal of this project is to inform people about the current situation of COVID-19 in Mexico</p>
          <p>We aim to give free and accurate access to vital information </p>
        </th>
      </tr>
    </table>
  </div>
  <hr>

  <div class="Middle_section">
    <h2>COVID MAP</h2>

      <p>Hover over each state to get more specific info</p>
      <p>The info is up to date</p>
      <p>For more details clic here</p>

  </div>
  <hr>
  <div class="Bottom_section">
    <h2>Additional resources</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <hr>
  <div class="Contact_section">
    <p>Contact info</p>
      <p> <a href="contact_me.html">Contact me!</a></p>


  </div>
  </div>
